body
{
    background-color: #2E3138;
    margin: 0;
    padding: 0;
}

main
{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding-top: 100px;
}

h2
{
    padding-left: 0%;
    text-align: center;
}

.text
{
    color: #EFD9C1;
    grid-column: 1;
    font-size: 25px;
}

img
{
    grid-column: 2;
    width: 320px;
    padding-top: 10px;
    
}

.container
{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    align-content: center;
    grid-column: 2/3;
    align-self: center;
    padding-left: 75px;
}


