footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0.5rem 0;
    background-color: #EFD9C1;
    color: black;
}

footer a{
    text-decoration: none;
    color: #60463B;
}

.footerRight{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.pageInfo, .social{
    word-spacing: 10px;
}