body
{
    background-color: #2E3138;
}

h1
{
    color: #EFD9C1;
    text-align: center;
}

img
{
    width: 35px;
    vertical-align: middle;
    background-color: #2E3138;
    opacity: .5;
}

.container
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #EFD9C1;
    justify-content: space-around;
}

.containe
{
    grid-column: 1;
}

.contain
{
    grid-column: 2;
}
