* 
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: var(--background-color);
    overflow-x: hidden;
}

h1
{
    color: var(--cream);
}

.text
{
    font-family: 'Montserrat_Alternates';
    color: var(--cream);
}

.container
{
display: flex;
justify-content: space-between;
align-items: center;
padding: 2rem 10rem;
border-radius: 10px;
gap: 10rem;
}

.text h2{
    line-height: 2.5;
}

.philoImage img{
    border-radius: 2%;
    width: 400px;
    height: 600px;
}

.images img
{
    width: 250px;
}

.button
{
    width: fit-content;
    background-color: var(--cream);
    float: right;
}

.gallery {
    padding: 6rem 0;
    display: flex;
    justify-content: center;
    
}

.gallery h2 {
    font-family: "Montserrat_Alternates";
    color: #EFD9C1;
    font-size: 30px;
}

.gallery svg {
    transform: translateY(-10px);
}

.images {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    padding: 0 10%;
    gap: 2%;
}

.img2 {
    height: 212px;
    width: 280px;
}

header{
    display: flex;
    background-color: #EFD9C1;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
    font-family: "Montserrat";
}

header nav ul{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: #2E3138;
}

a:hover{
    text-decoration: underline;
    text-decoration-color: #2E3138;
}

.socialMedia{
    display: flex;
}

footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0.5rem 0;
    background-color: #EFD9C1;
}

footer a{
    text-decoration: none;
    color: #60463B;
}

.footerRight{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.pageInfo, .social{
    word-spacing: 10px;
}