body{
    background-color: var(--background-color);
    background-image: url('../src/img/review/Bg.png');
    background-size: cover;
    overflow-x: hidden;
}
nav{
    width: 100%;
    height: 92px;
    background-color: var(--cream);
}
h1{
    text-align: center;
    padding-top: 100px;
    font-family: 'Montserrat_Alternates';
    color: var(--cream);
}
.stars{
    display: flex;
    margin: 0 auto;
    
   width: 50%;
    
}
.card-brown{
    width: 342px;
    text-align: center;
    height: 373px;
    display: flex;
    padding-left: 10px;
    flex-shrink: 0;
    padding-right: 10px;
    flex-direction: column;

    background: linear-gradient(#66371D, #66371D) padding-box,radial-gradient(#F0E3D0, #66371D) border-box;
    border-radius: 5px;
    border: 2px solid transparent;
    .picture{
        background: linear-gradient(#66371D, #66371D) padding-box,radial-gradient(#F0E3D0, #66371D) border-box;
        border-radius: 90em;
        border: 2px solid transparent;
    }
}
.card-light{
    width: 342px;
    text-align: center;
    height: 373px;
    display: flex;
    padding-left: 10px;
    flex-shrink: 0;
    padding-right: 10px;
    flex-direction: column;

    background: linear-gradient(#E0A872, #E0A872) padding-box,radial-gradient( #F0E3D0, #66371D) border-box;
    border-radius: 5px;
    border: 2px solid transparent;
    .picture{
        background: linear-gradient(#E0A872, #E0A872) padding-box,radial-gradient(#F0E3D0, #E0A872) border-box;
        border-radius: 90em;
        border: 2px solid transparent;
    }
}
.card-green{
    width: 342px;
    text-align: center;
    height: 373px;
    display: flex;
    padding-left: 10px;
    flex-shrink: 0;
    padding-right: 10px;
    flex-direction: column;

    background: linear-gradient(#1D662D, #1D662D) padding-box,radial-gradient( #F0E3D0, #1D662D) border-box;
    border-radius: 5px;
    border: 2px solid transparent;
    .picture{
        background: linear-gradient(#1D662D, #1D662D) padding-box,radial-gradient(#F0E3D0, #1D662D) border-box;
        border-radius: 90em;
        border: 2px solid transparent;
    }
}
.card-purple{
    width: 342px;
    text-align: center;
    height: 373px;
    display: flex;
    padding-left: 10px;
    flex-shrink: 0;
    padding-right: 10px;
    flex-direction: column;

    background: linear-gradient(#4A1D66, #4A1D66) padding-box,radial-gradient(#F0E3D0, #4A1D66) border-box;
    border-radius: 5px;
    border: 2px solid transparent;
    .picture{
        background: linear-gradient(#4A1D66, #4A1D66) padding-box,radial-gradient(#F0E3D0, #4A1D66) border-box;
        border-radius: 90em;
        border: 2px solid transparent;
    }
}
.card-red{
    width: 342px;
    text-align: center;
    height: 373px;
    display: flex;
    padding-left: 10px;
    flex-shrink: 0;
    padding-right: 10px;
    flex-direction: column;

    background: linear-gradient(#661D1D, #661D1D) padding-box,radial-gradient(#F0E3D0, #661D1D) border-box;
    border-radius: 5px;
    border: 2px solid transparent;
    .picture{
    background: linear-gradient(#661D1D, #661D1D) padding-box,radial-gradient(#F0E3D0, #661D1D) border-box;
    border-radius: 90em;
    border: 2px solid transparent;
}
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.name {
    margin: 0;
}
.who{
    margin: 0;
    margin-top: 10px;
}
img{
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 60px;
}
#cards{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    flex-direction: row;
    width: 1118px;
    margin: 0 auto;
    
}
.review, .name, .who{
     color: #F0E3D0;
     font-size: 16;
     font-family: 'Montserrat', sans-serif;
}
/* Bence Mohr */

/* Making a new form tab*/

h2{
    text-align: center;
    padding-top: 100px;
    font-family: 'Montserrat_Alternates';
    color: var(--cream);
}

form{
    display: grid;
}

#form{
    margin: auto;
    padding-bottom: 5vh;
}

/* Introducing text area for easier display */

input, textarea{
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    margin-top: 2vh;
    padding-left: 0.5vw;
}

/*
Limiting textarea resize options only to vertical and with min height
Maybe subject to change
*/

textarea{
    resize: vertical;
    min-height: 15vh;
}

/* Error message styling*/

#error-msg{
    background-color: lightsalmon;
    color: tomato;
    text-align: center;
    border-radius: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}